*.noopt
*.opt
*.unsafe
mb-malloc
mb-jemalloc
mb-tcmalloc
mb-malloc-[0-9][0-9]
mb-arena-[0-9][0-9]
mb-gc-[0-9][0-9]
mexplore4
mexplore4.opt
mexplore4.noopt
msurprise
msurprise.opt
msurprise.noopt
ubpointer
ubpointer.opt
ubpointer.noopt
