*.noopt
*.opt
*.unsafe
mb-malloc
mb-jemalloc
mb-tcmalloc
mb-malloc-[0-9][0-9]
mb-arena-[0-9][0-9]
mb-gc-[0-9][0-9]
mexplore[0-9]
mexplore[0-9].opt
mexplore[0-9].noopt
msurprise
msurprise.opt
msurprise.noopt
ubpointer
ubpointer.opt
ubpointer.noopt
