*.noopt
*.opt
*.unsafe
mb-malloc
mb-jemalloc
mb-tcmalloc
mb-malloc-[0-9][0-9]
mb-arena-[0-9][0-9]
mb-gc-[0-9][0-9]
mexplore4
mexplore4.opt
mexplore4.noopt
msurprise
msurprise.opt
msurprise.noopt
ubsignedinc
ubsignedinc.opt
ubsignedinc.noopt
ubsignedloop
ubsignedloop.opt
ubsignedloop.noopt
ubsignedloopx
ubsignedloopx.opt
ubsignedloopx.noopt
ubunsignedloop
ubunsignedloop.opt
ubunsignedloop.noopt
